table {
  padding-top: 30px;
}

thead th {
  background-color: rgb(238, 238, 238);
  color: black;
}

tbody tr:nth-child(odd){
  background-color: white;
  color: black;
}
  
tbody tr:nth-child(even){
  background-color: whitesmoke;
  color: black;
}